.cover__link {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 400px) {
  .cover__link {
    max-width: 100%;
    min-height: 200px;
  }
}

.cover__link::after {
  background: #2a2c2f;
  opacity: 0.3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cover__link:hover::after {
  opacity: 0.8;
}
