.footer {
  margin: 0 auto 24px;
  max-width: calc(100% - 96px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 400px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 16px;
  }
}








