.place__url {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 1em;
  font-weight: 400;
  color: #aaaaaa;
  letter-spacing: 2px;
}

@media (max-width: 400px) {
  .place__url {
    padding: 0;
  }
}
